body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: fixed;
  bottom: 10px; /* Adjust the value to control the vertical position from the bottom */
  right: 10px; /* Adjust the value to control the horizontal position from the right */
  /*background-color: #f0f0f0;*/
  /*padding: 8px;*/
  /*border-radius: 4px;*/
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.required-file {
  content: "*";
  color: red;
}